@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #151718;
  color: #ECEDEE;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e2022;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
